/* common */
* , ::before, ::after{
    box-sizing: border-box;
}
em {
    font-style: normal;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
}
picture {
    display: block;
}
img {
    max-width:100%;
    vertical-align: top;
}


