/* common */
* , ::before, ::after{
    box-sizing: border-box;
}
em {
    font-style: normal;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
}
picture {
    display: block;
}
img {
    max-width:100%;
    vertical-align: top;
}

/* accessibility */
#skip {
    position: fixed;
    z-index: 999999;
    a {
        font-size: 16px;
        position: absolute;
        top: -100px;
        left: 0;
        display: flex;
        width: 100vw;
        padding: 5px 0;
        opacity: 0;
        color: #fff;
        background-color: #000;
        justify-content: center;
        &:focus {
            top: 0;
            opacity: 1;
        }
    }
}
