@use '@/assets/styles/reset';
@use '@/assets/styles/variables' as var;
@use '@/assets/styles/common';



html, body {
  height: 100%;
}

#wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto; /* header / main / footer */
}

header { grid-row: 1; }
main   { grid-row: 2; }
footer { grid-row: 3; }
