
@use './base/reset';
@use './base/fonts';


/* common */
html {
    height: 100%;
}
html,body {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: -0.05em;
    line-height: 1.2;
    font-size: 16px;
    background-color: #fff;
    color: #000;
}
em {
    font-style: normal;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
}
picture {
    display: block;
}
img {
    max-width:100%;
    vertical-align: top;
}
